body {
  display: flex;
  flex-direction: column;
}

.puzzle-box {
  display: flex;
  justify-content: center;
}

#puzzle {
  width: 70%;
}

.drop-zone {
  border: black solid 1px;
  flex-basis: 100%;
  flex-grow: 1;
}

img {
  width: 100%;
}

.over {
  border: 3px dotted #666;
}
